body,
html {
    margin: 0;
    padding: 0;
}
.heading {
    margin: 0;
    background-color: #0d03902c;
    max-height: 120px;
    font-family: "Exo", sans-serif;
    font-size: 32px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.heading span{
    font-family: "Times New Roman", sans-serif ;
}

/***taken from mini-project:Rosie Odenkirk by Matt Rudge@Code-Institute**/
.logo img{
    /*background: url("../images/mortar.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fafafa;
    padding-top: 25px;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
/********/